<a href="https://colab.research.google.com/github/Jerin2004/Jerin/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNCTION

In [1]:
# Simple Function
def add_number(a,b):
  """Function to add two numbers"""
  return a+b

  # Calling the function
  print(add_number(1,2))

In [2]:
# Function with Variable-Length Arguments
def sum_all(*args):
  """Function to sum all given arguments"""
  return sum(args)

  # Calling the function
  print(sum_all(1,2,3,4,5))

In [7]:
# Function with Keyword Arguments
def display_info(**kwargs):
  """Function to display information"""
  for key, value in kwargs.items():
    print(f"{key}: {value}")

  # Calling the function
  display_info(name="John", age=25, city="New York")

In [6]:
# Higher-Order Function
def apply_function(func, x,y):
  """Function to apply a function to two arguments"""
  return func(x,y)

**Lambda Expression**

In [8]:
# Simple Lambda Function
square = lambda x: x * x

# Calling the lambda function
print(square(5))

25

In [9]:
# Lambda Function in 'map'
number = [1,2,3,4,5]
square = list(map(lambda x: x * x, number))
print(square)

[1, 4, 9, 16, 25]

In [10]:
# Lambda Function in 'filter
numbers = [1,2,3,4,5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4]

In [11]:
#Lambda Function in 'sorted'
students = [("John", 25), ("Alice", 30), ("Bob", 20)]
sorted_students = sorted(students, key=lambda x: x[1])
print(sorted_students)

[('Bob', 20), ('John', 25), ('Alice', 30)]

**Error Handling**

In [12]:
# Basic Try-Except Block
try:
  result = 10 / 0
except ZeroDivisionError:
  print("Error: Division by zero is not allowed.")

Error: Division by zero is not allowed.

In [13]:
# Try-Except-Else Block
try:
  result = 10 / 2
except ZeroDivisionError:
  print("Error: Division by zero is not allowed.")
else:
  print("Result:", result)

Result: 5.0

In [15]:
# Try-Except-Finally Block
try:
  result = 10 / 0
except ZeroDivisionError:
  print("Error: Division by zero is not allowed.")
finally:
  print("Execution completed.")

Error: Division by zero is not allowed.
Execution completed.

In [16]:
# handling Multiple Exception
try:
  result = 10 / 0
except ZeroDivisionError:
  print("Error: Division by zero is not allowed.")
except TypeError:
  print("Error: Invalid operation.")

Error: Division by zero is not allowed.

In [17]:
# Raising Exception
def validate_age(age):
  if age < 0:
    raise ValueError("Age cannot be negative.")